[Unit]
Description=Iniciando aplicação Silkgician

[Service]
Type=simple
ExecStart=/home/pi/pi2/Projeto-Carrossel-Semi-Automatico-PI2-Documentacao/run-app.sh
ExecStop=

[Install]
WantedBy=multi-user.target

