#paints {
  width: calc(100vw - 25.4rem);
  height: 100%;

  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.no-paints {
    height: 100vh;
    margin-bottom: 0;
  }

  > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;

    > h1 {
      color: #39393a;
      font-size: 3rem;
      margin: 3.5rem 0 0 5rem;

      align-self: flex-start;
    }

    > div {
      margin-right: 5rem;
      margin-bottom: 0;
      align-self: flex-end;
    }
  }

  > span {
    flex: 1;
    display: flex;
    align-items: center;

    font-size: 3.2rem;
    color: #39393a;
  }
}
