#quality-report {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-right: 10rem;

  > header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;

    > h1 {
      color: #39393a;
      font-size: 3rem;
      margin: 3.5rem 0 0 5rem;

      align-self: flex-start;
    }

    > div {
      select {
        width: 16rem;
        height: 3.2rem;
        border: 0;
        border-radius: 0.6rem;
        background-color: #fff;
        outline: none;
        cursor: pointer;

        padding: 0.7rem;
        margin-left: 3rem;
        color: #6a6a6b;

        &:nth-child(1) {
          width: 25rem;
        }
      }
    }
  }

  > main {
    margin: 0 7rem;
    padding-bottom: 3rem;
  }
}

.container-resume {
  width: 60%;
  background-color: #fff;
  margin: 7rem 0;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-self: center;

  > section {
    width: 50%;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      > h3 {
        color: #39393a;
        font-weight: 700;
      }

      > div {
        > h3 {
          color: #39393a;
          font-weight: 700;
        }
      }
    }

    > table {
      width: 100%;
      height: 40rem;
      background-color: #d9d9d9;
      border: none;
      border-collapse: collapse;

      > tr {
        &:nth-child(even) {
          background-color: white;
        }
      }
    }

    .chart-box {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  #quality-report {
    padding-right: 0;

    > header {
      justify-content: flex-start;
      > h1 {
        font-size: 2.2rem;
      }

      > select {
        margin-left: 2rem;
      }
    }

    > main {
      > h2 {
        font-size: 2rem;
        margin-top: 4rem;
      }
    }
  }

  .container-resume {
    width: 80%;
    margin: 3rem 0;

    flex-direction: column-reverse;
    align-items: center;

    > section {
      width: 100%;

      > div {
        > p {
          font-size: 1.4rem;
        }

        > div {
          > ul {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
