#button-confirm {
  width: 13rem;
  border-radius: 0.5rem;

  background-color: #1F272D;
  border: 0;
  cursor: pointer;

  align-self: center;
  
  > h3 {
    margin: 1rem 0;
    color: #FFF;
    font-weight: 700;
  }
}