#input-param {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  outline: none;

  text-align: right;
  color: #39393A;

  padding: 0.7rem 1rem;
  &::placeholder {
    font-size: 1.4rem;
    color: #6A6A6B;
  }
}