#sidebar {
  display: flex;
  flex-direction: column;

  background-color: #1F272D;

  width: 25.4rem;
  height: 100vh;

  > header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #232E33;
    margin-bottom: 4.5rem;

    height: 12rem;

    > h1 {
      font-size: 2.4rem;
      color: #E8E7EA;
    }
  }

  > main {
    margin-left: 3rem;
  }
}