#sidebar {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;

  background-color: #1f272d;

  width: 25.4rem;
  height: 100vh;

  position: fixed;
  left: 0;

  > header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #232e33;
    margin-bottom: 4.5rem;

    height: 12rem;

    > h1 {
      font-size: 2.4rem;
      color: #e8e7ea;
    }
  }

  > main {
    margin-left: 3rem;
  }
}
